<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
  <div class="response-container">
    <h1>Link Created</h1>
    <p>Short Link: <a href="{{url}}">{{url}}</a></p>
    {{qr}}
    <a href="/"> <-- Back to home</a>
  </div>
</body>
</html>
